.App {
  background-color: #121212;
  text-align: center;
  color: rgba(255, 255, 255, 0.87);
}

.App-header {
  position: fixed;
  top: 0;
  left: 0;
  min-height: 40px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5);
}

.App-body {
  min-height: 96vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  background-image: linear-gradient(rgba(0, 0, 0, 0.637), rgba(135, 80, 156, 0.363)), url("./images/background1.png");
  background-repeat: no-repeat;
  background-size:cover;
  background-position:center;
  width: 100%;
  height: 100%;
}

.App-footer {
  min-height: 4vh;
  width: 100%;
  font-size: small;
}

.App-link {
  color: #61dafb;
}

button {
  font-size: calc(10px + 2vmin);
}
